:root {
  --color-black: #1d1f29;
  --color-background-primary: var(--color-black);
  --color-background-secondary: #222431;
  --color-background-tertiary: #2F313D;
  --color-foreground-primary: #ffffff;
  --color-foreground-secondary: #aaaaaa;
  --color-primary: #2179c2;
  --color-blue: #5081cc;
  --color-gray: #72778b;
  --color-green: #299072;
  --color-brown: #bc6a32;
  --color-purple: #a356e2;

  --border-radius: 16px;

  font-size: 60%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  color: var(--color-foreground-primary);
  background-color: var(--color-background-primary);
  width: 100%;
}

body,
input,
textarea,
button {
  font: 600 18px;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper{
  width: 100%;
}