.item-ascension-box {
  width: 40%;
  height: 40%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.others-itens .item-ascension-box{
  width: 25%;
}

.crown .item-ascension-box {
  width: 100%;
  height: 90%;
}


.item-ascension-count{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30%;
}

.crown .item-ascension-count{
 width: 100%;
 flex: 5;
}

.item-ascension-count img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.crown img{
  width: 100%;
}

.item-count{
  font-size: 2rem;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.crown .item-count{
  flex: 1;
}