

.file{
  margin-bottom: 1rem;
}

.previewImg{
  width: 150px;
}

.preview{
  width: 100%;
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

.preview::after{
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
  
}