.file{
  margin-bottom: 1rem;
}

.previewImg{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  border: 2px solid rgba(13, 11, 22, 0.5);
  cursor: pointer;
}

.preview{
  width: 100%;
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

.preview::after{
  content: '';
  display: block;
  height: 0px;
  padding-bottom: 100%;
  
}