/*
.CustomInput {
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  margin-top: 10px;
}
*/

.CustomInput label {
  font-size: 1.6em;
}

.CustomInput .Input {
  width: 100%;
  padding: 10px 5px;
  font-size: 2em;
  background: var(--color-foreground-primary);
  border-radius: 0.8rem;
  border: 2px solid transparent;
  color: var(--color-black);
  margin: 3px 0;
}
.CustomInput .Input:focus {
  outline: none;
}
