.item_wrapper {
    margin: 0px 10px 10px 10px;
}

.inventory_box {
    background: var(--color-background-secondary);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}

.section_title {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

.item_box {
    position: relative;
    background: var(--color-background-primary);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
}

.item_box img {
    width: 80px;
    margin: 4px;
}

.item_name {
    text-align: center;
    font-size: 15px;
    margin: 4px;
}

.item_qtd {
    position: absolute;
    right: 0;
    background: var(--color-badge);
    margin: 6px 6px 0px 6px;
    border-radius: 5px;
}

.item_qtd p {
    display: flex;  
    justify-content: flex-end;
    margin: 4px;
    font-size: 14px;
}