.Dashboard-page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  "adminmenu forms"
  ;
}

.forms{
  height: 100vh;
  overflow-y: auto;
  padding: 20px 0px 0px 50px;
}

.CadForm {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 
  "input1 labelImage" 
  "select1 input3"
  "select2 previewImg"
  "input2 previewImg"
  "button previewImg"
  ;
  align-items: center;
  gap: 10px;
}

.input1{
  grid-area: input1;
}

.input2{
  grid-area: input2;
}

.labelImage{
  align-self: start;
  font-size: 2em;
}

.input3{
  grid-area: input3;
  align-self: start;
  margin-top: -80px;
}

.select1{
  grid-area: select1;
}

.select2{
  grid-area: select2;
}

.button{
  grid-area: button;
}

.previewImg{
  grid-area: previewImg;
  align-self: start;
  margin-top: -160px;
}

@media (max-width: 1024px){
  .CadForm{
    grid-template-columns: 1fr;
    grid-template-areas:
    "input1 " 
    "select1"
    "select2"
    "input2"
    "labelImage"
    "input3"
    "previewImg"
    "button"
    ;
  }

  .input3{
    margin-top: 0px;
  }

  .previewImg{
    margin-top: 0px;
  }
}